@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
    --font-rubik: "Rubik";
    --font-lilex: "Lilex";
    --color-primary: #093966;
    --color-secondary: #E81111;
    --bg-fondo: url('img/fondo.png');
}

html {
    scroll-behavior: smooth;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
}

.float-animation {
    animation: float 3s ease-in-out infinite;
}

.floating-btn {
    transition: all 0.3s ease;
}

.floating-btn:hover {
    transform: scale(1.1);
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }
}

@keyframes signal-pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.signal-wave {
    animation: signal-pulse 3s ease-out infinite;
}

.particle {
    position: absolute;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    opacity: 0.2;
    animation: float infinite ease-in-out;
}