---
import HeroBanner from "../layout/HeroBanner.astro";
---

<section
    class="relative h-svh w-full bg-[url('/img/fondo.png')] bg-no-repeat bg-center bg-cover text-white"
>
    <div
        class="absolute top-0 left-0 h-64 w-full bg-linear-to-b from-black/60 to-transparent"
    >
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 items-center h-full"></div>
</section>

