<section class="p-16 min-h-svh space-y-16 flex flex-col gap-y-4">
    <div class="flex flex-col gap-y-1 items-center">
        <h2 class="text-center text-xl md:text-3xl font-semibold uppercase text-secondary">
            FIBERPLUS TELECOMUNICACIONES S.A.C.
        </h2>
        <span class="h-1 block text-center w-40 bg-secondary"></span>
    </div>
    <div class="max-w-3xl m-auto mb-8">
        <p class="block text-center text-sm">
            ¡Encantados de recibirte en FIBERPLUS! Aquí no solo te conectamos al
            mundo, sino que te hacemos parte de una comunidad que está
            revolucionando la forma de vivir y trabajar. Nuestra misión es
            brindarte una experiencia de conectividad sin igual, impulsada por
            tecnología de fibra óptica de última generación y un compromiso
            absoluto con la calidad y la innovación.
        </p>
    </div>
    <div class="max-w-6xl grid grid-cols-1 md:grid-cols-2 m-auto gap-8">
        <div
            class="p-8 rounded hover:-translate-y-4 shadow-2xl transition-all duration-400 flex flex-col gap-y-4"
        >
            <div
                class="flex gap-x-4 text-secondary text-xl md:text-3xl font-semibold items-center"
            >
                <i
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z"
                        ></path>
                    </svg>
                </i>
                <h2>MISION</h2>
            </div>
            <p>
                Proveer servicios de internet de alta calidad, confiables y
                accesibles, que conecten a las personas y empresas con el mundo,
                impulsando el desarrollo digital de nuestras comunidades. Nos
                enfocamos en ofrecer soluciones innovadoras, un servicio al
                cliente excepcional y una experiencia tecnológica que supere las
                expectativas de nuestros usuarios.
            </p>
        </div>
        <div
            class="p-8 rounded hover:-translate-y-4 shadow-2xl transition-all duration-400 flex flex-col gap-y-4"
        >
            <div
                class="flex gap-x-4 text-secondary text-xl md:text-3xl font-semibold items-center"
            >
                <i
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                        ></path>
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                    </svg>
                </i>
                <h2>VISION</h2>
            </div>
            <p>
                Convertirnos en la empresa líder en servicios de internet en
                nuestra región, reconocida por su excelencia en tecnología,
                compromiso con la satisfacción del cliente y por contribuir al
                cierre de la brecha digital, permitiendo que todos accedan a las
                oportunidades que ofrece un mundo interconectado.
            </p>
        </div>
    </div>
    <div class="max-w-7xl m-auto mt-16 flex flex-col gap-y-8">
        <h2 class="text-center text-xl md:text-3xl text-secondary font-bold">
            Nuestros valores
        </h2>
        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 md:gap-16 mt-16"
        >
            <div
                class="h-60 w-60 border border-secondary rounded-full flex flex-col justify-center items-center before:w-60 before:h-60 before:border-x-4 before:border-secondary before:rounded-full before:absolute before:border-t-12 gap-y-2"
            >
                <i class=" w-16 h-16 text-secondary flex items-center justify-center">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z"
                        ></path>
                    </svg>
                </i>
                <h2 class="text-md text-secondary">AUTÉNTICOS</h2>
                <span class="px-4 block text-center text-xs">Nuestros valores nos hacen únicos.</span>
            </div>
            <div
                class="h-60 w-60 border border-primary rounded-full flex flex-col justify-center items-center before:w-60 before:h-60 before:border-x-4 before:border-primary before:rounded-full before:absolute before:border-t-12 gap-y-2"
            >
                <i class="w-16 h-16 text-primary flex items-center justify-center"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-16"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
                        ></path>
                    </svg>
                </i>
                <h2 class="text-md text-primary">EMPÁTICOS</h2>
                <span class="px-4 block text-center text-xs">Conectamos con las emociones de los demás.</span>
            </div>
            <div
                class="h-60 w-60 border border-secondary rounded-full flex flex-col justify-center items-center before:w-60 before:h-60 before:border-x-4 before:border-secondary before:rounded-full before:absolute before:border-t-12 gap-y-2"
            >
                <i class="w-16 h-16 text-secondary flex items-center justify-center"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.59 14.37a6 6 0 0 1-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 0 0 6.16-12.12A14.98 14.98 0 0 0 9.631 8.41m5.96 5.96a14.926 14.926 0 0 1-5.841 2.58m-.119-8.54a6 6 0 0 0-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 0 0-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 0 1-2.448-2.448 14.9 14.9 0 0 1 .06-.312m-2.24 2.39a4.493 4.493 0 0 0-1.757 4.306 4.493 4.493 0 0 0 4.306-1.758M16.5 9a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"
                        ></path>
                    </svg>
                </i>
                <h2 class="text-md text-secondary">INNOVADORES</h2>
                <span class="px-4 block text-center text-xs">Conectamos con las emociones de los demás.</span>
            </div>
            <div
                class="h-60 w-60 border border-primary rounded-full flex flex-col justify-center items-center before:w-60 before:h-60 before:border-x-4 before:border-primary before:rounded-full before:absolute before:border-t-12 gap-y-2"
            >
                <i class="flex items-center justify-center w-16 h-16 text-primary"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"
                        ></path>
                    </svg></i
                >
                <h2 class="text-md text-primary">CONFIABLE</h2>
                <span class="px-4 block text-center text-xs">Somos la opción más confiable.</span>
            </div>
        </div>
    </div>
</section>
